<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="employeeName">Name</label>
      <input type="text" class="form-control" id="employeeName" required [(ngModel)]="employee.employeeName" name="employeeName">
    </div>



    <div class="form-group">
      <label for="name">EmployeeId</label>
      <input type="number" class="form-control" id="employeeId" required [(ngModel)]="employee.employeeId" name="employeeId">
    </div>

    <div class="form-group">
      <label for="name">Address</label>
      <input type="number" class="form-control" id="employeeId" required [(ngModel)]="employee.employeeId" name="employeeId">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
